::selection {
    background-color: orangered;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #1e1e1e;
    text-align: center;
}

h1 {
    color: orangered;
}

textarea,
button {
    padding: 10px;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    color: orangered;
}

textarea::selection {
    background-color: orangered;
    color: white;
}

button {
    background-color: orangered;
    color: #fff;
    cursor: pointer;
}

button::selection {
    background-color: rgb(172, 46, 0);
}

button:active {
    background-color: rgb(135, 36, 0);
}

#qr-code {
    margin-top: 20px;
}

#qr-code img {
    max-width: 100%;
    height: auto;
}