body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}

h1 {
    color: #333;
}

textarea, button {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    /* width: 300px; */
    color: orangered;
}

button {
    background-color: orangered;
    color: #fff;
    cursor: pointer;
}

button:active {
    background-color: rgb(135, 36, 0);
}

#qr-code {
    margin-top: 20px;
}

#qr-code img {
    max-width: 100%;
    height: auto;
}